NODE_ENV=production
PORT=3001
FRONTEND_URL=https://yourdomain.com
DATABASE_URL=
REDIS_URL=redis://localhost:6379
SESSION_COOKIE_NAME=sid
SESSION_TTL_SECONDS=604800
CODE_RUNNER_URL=http://localhost:2000/api/v2
LIVEBLOCKS_SECRET_KEY=
